**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.venv
**/venv
**/node_modules
**/dist
**/build
**/.git
**/.github
**/Dockerfile
**/docker-compose.yml
**/docker-compose.airflow.yml
**/README.md
**/tests
**/data
**/migrations
**/wandaraya-backend
**/.*
